body{
    background-color: rgb(237,237,237);
    font-family: 'Kulim Park', sans-serif;
    margin: 0;
}

#footer{
    color: rgb(39,39,39);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 50px;
    margin-bottom: 10px;
}

h1{
    color: rgb(61, 61, 61);
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    font-style: italic;
    font-size: 55px;
}

button{
    margin: 10px;
    background-color: rgb(237,237,237);
    border: solid 1px rgb(39,39,39);
    color: rgb(39,39,39);
    text-align: center;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    width: 150px;
}

button:focus{
    background-color: rgb(39,39,39);
    color: rgb(231, 229, 229);
}

button:hover {
    transform: scale(1.1) perspective(1px);
    -webkit-transform: scale(1.05);
    transition: all ease;
}

input[type='range'] {
    -webkit-appearance: none;
    background-color: rgb(255, 255, 255);
}
  
input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    border: 1px solid rgb(39,39,39);
    border-radius: 25px;
    background: rgb(255, 255, 255);
}
  
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin-top: -8px;
    background: rgb(39,39,39);
}

.container{
    display: flex;
    justify-content: flex-start;
    gap: 150px;
    max-width: 1100px;
    margin: 0 auto;
}

#picker{
    list-style-type: none;
    border-style: none;
    border-radius: 100%;
    border: none;
}

.left-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.grid{
    display: grid;
    width: 500px;
    height: 500px;
    box-shadow: 1px 1px 10px rgb(143, 143, 143);
}

.col{
    background-color: rgb(255, 255, 255);
}

.slideContainer{
    margin: 20px;
}

#color{
    width: 150px;
    border: none;
}

#footer img{
    width: 25px;
}

/*Media queries*/
@media (max-width: 1000px) {
    .grid{
        max-width: 400px;
    }

    .container{
        max-width: 800px;
        gap: 50px;
    }
}

@media (max-width: 730px) {
    .container{
        max-width: 500px;
        flex-direction: column-reverse;
        align-items: center;
        gap: 60px;
    }
}

@media (max-width: 440px) {
    h1{
        font-size: 30px;
    }
}
